:root {
    --gray: #33434f;
    --background: #103552;
    --hover: #A5C1D7;
    --text: white;
    --button: #2987CF;
    --background2: #1F669C;
}

body {
    color: var(--text);
    background: radial-gradient(circle farthest-corner at 0 0, var(--background2), var(--background));
    min-height: calc(100vh - 16px);
}

* {
    line-height: 1.6;
}

::selection {
    background-color: black;
    opacity: 0.1;
}

/* {
    outline: 1px solid red;
}

/*@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --text: black;
    }
}*/