:root {
    --gray: #33434f;
    --background: #103552;
    --hover: #A5C1D7;
    --text: white;
    --button: #2987CF;
    --background2: #1F669C;
}

/* a[target="_blank"]:after {
    background: url(/images/new-tab.png);
    content: '';
    width: 5px;
    height: 5px;
} */

body {
    color: var(--text);
    background: radial-gradient(circle farthest-corner at 0 0, var(--background2), var(--background));
    min-height: calc(100vh - 16px);
}

* {
    line-height: 1.6;
}

::selection {
    background-color: black;
    opacity: 0.1;
    color: var(--text);
}

/* * {
    outline: 1px solid red;
} */