@import "color.css";

body {
    color: var(--text);
    background: radial-gradient(circle farthest-corner at 0 0, var(--background2), var(--background));
    min-height: calc(100vh - 16px);
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--text);
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.home {
    text-align: left;
    font-weight: normal;
}

a {
    color: var(--text);
}

a:hover {
    color: var(--hover);
}

main {
    text-align: center;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid var(--gray);
}

input[type=submit] {
    background-color: var(--button);
    color: var(--gray);
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: var(--hover);
}