@import "color.css";

img.wide-logo {
    text-align: center;
    max-width: calc(100vw - 16px);
}

img.small-logo {
    text-align: center;
    display: none;
    max-width: calc(100vw / 3);
}

@media (max-width: 500px) {
    img.wide-logo {
        display: none;
    }

    img.small-logo {
        display: block;
    }
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

body {
    background: radial-gradient(circle farthest-corner at 0 0, var(--background2), var(--background));
    min-height: calc(100vh - 16px);
}

.category {}

.categorys {
    font-size: large;
    font-weight: bolder;
    color: var(--text);
}

.chosen-categorys {
    /*grid-column: span 2;*/
    color: var(--button);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px) !important;
    border: 5px;
    gap: 5px;
}

.chosen-categorys div {
    width: auto;
    display: flex;
    padding: 5px;
    border: 1px solid black;
    color: var(--text);
    border-radius: 50px;
    gap: 5px;
}

.chosen-categorys div button {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}

.chosen-categorys div button:hover {
    background-color: var(--gray);
}


.unselected-categorys {
    color: var(--button);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 50px;
    width: calc(100% - 20px) !important;
    border: 5px;
    gap: 5px;

}

.unselected-categorys button {
    border-radius: 50px;
    background-color: var(--button);
    border: 0;
    color: var(--text);
    height: 25px;
}

.unselected-categorys button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.games {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}


.game-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game {}

.game__title {}

.game__image {}

.game__description {}

.title {
    color: var(--text);
}

/* .categorys h2:hover {
    color: var(--hover);
    opacity: 0.7;
} */


.search {
    padding: 10px;
    border-radius: 50px;
    width: calc(100% - 20px) !important;
    border: 0px;
}

.search:focus {
    background-color: var(--hover);
}

.newGame {
    font-size: large;
    font-weight: bolder;
    color: var(--text);
}

.newGame:hover {
    color: var(--hover);
}

.category {
    display: grid;
}

.interface {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.interface * {
    width: 100%;
}

.interface>.login {
    text-align: right;
}

.login>a {
    color: var(--text);
    width: 100%;
}

.login {
    color: var(--text);
    text-align: right;
}


.login>a:hover {
    color: var(--hover);
}

#cookies {
    border-radius: 25px;
    border-color: var(--gray);
    border-width: 2px;
}

#cookies::backdrop {
    opacity: 0.5;
    background-color: black;
    filter: blur(10px);
}

#cookies div {
    width: 100%;
    text-align: center;
}

#cookie-link {
    color: var(--button);
}

#cookie-link:hover {
    color: var(--hover);
    text-decoration: underline;
}

#confirm {
    background-color: var(--button);
    font-weight: bold;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid var(--gray);
}

#confirm:hover {
    background-color: var(--hover);
}